* {
  margin: 0;
  padding: 0;
}

:root {
  --main-white: #f0f0f0;
  --main-red: #be3144;
  --main-blue: #45567d;
  --main-gray: #303841;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

@media (max-width: 75em) {
  html {
    font-size: 60%;
  }
}

@media (max-width: 61.25em) {
  html {
    font-size: 58%;
  }
}

@media (max-width: 28.75em) {
  html {
    font-size: 55%;
  }
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.4;
  color: var(--main-blue);
  background: var(--main-withe);
}

h1,
h2 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  text-align: center;
}

h1 {
  font-size: 6rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.nav {
  display: flex;
  position: fixed;
  justify-content: flex-end;
  top: 0;
  left: 0;
  width: 100%;
  background: #8ddcaf;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
  z-index: 10;
}

.nav-list {
  display: flex;
  margin-right: 20px;
}

.nav-list a {
  display: block;
  font-size: 22px;
  padding: 20px;
}

.nav-list a:hover {
  color: aquamarine;
  background-color: var(--main-blue);
  border-radius: 0.5em;
}

@media (max-width: 400px) {
  .nav {
    flex-direction: column;
  }
  .nav-list {
    margin: 0 10px;
  }
}

.welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: ierarhic;
  width: 100%;
  height: 100vh;
  background-color: #000;
  background-image: linear-gradient(
      115deg,
      rgba(55, 165, 123, 0.8),
      rgba(136, 136, 206, 0.7)
    ),
    url(https://upload.wikimedia.org/wikipedia/commons/d/dd/Code_presentation_background.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.welcome-section > p {
  font-size: 3rem;
  font-weight: 250;
  font-style: italic;
  color: var(--main-red);
}

.projects-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #000;
  background-image: url(https://images.pexels.com/photos/1509534/pexels-photo-1509534.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.projects-section-header {
  max-width: 640px;
  font-size: 6rem;
  margin: 0 auto 6rem auto;
  border-bottom: 0.2rem solid var(--main-white);
  color: var(--main-red);
}

@media (max-width: 28.75em) {
  .projects-section-header {
    font-size: 4rem;
  }
}

.project-tile {
  background: var(--main-gray);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  border-radius: 2px;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 4rem;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  margin-bottom: 6rem;
}

.project-tile {
  background: var(--main-gray);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  border-radius: 2px;
}

.project-image {
  height: calc(100% - 7rem);
  width: 100%;
  object-fit: cover;
}

.project-title {
  font-size: 2rem;
  padding: 2rem 0.5rem;
}

@media (max-width: 650px) {
  .projects-section {
    padding: 6rem 1rem;
  }
  .projects-grid {
    grid-template-columns: 1fr;
  }
}

.contact-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #000;
  background-image: linear-gradient(
    115deg,
    rgba(34, 49, 43, 0.8),
    rgba(12, 12, 51, 0.7)
  );
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.contact-section-header > h2 {
  font-size: 6rem;
}

@media (max-width: 650px) {
  .contact-section-header > h2 {
    font-size: 4rem;
  }
}

.contact-links {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 980px;
  margin-top: 4rem;
  flex-wrap: wrap;
}

.btn {
  display: inline-block;
  padding: 1rem 2rem;
  border-radius: 2px;
}

.contact-details {
  font-size: 2.4rem;
  text-shadow: 2px 2px 1px #1f1f1f;
}
